.footer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  &>*+* {
    margin-top: 1em;
  }
}

.donate {
  form {
    text-align: center;
  }

  p {
    margin-bottom: 1em;
  }
}