.ghostslist {
  color: var(--color-white);
  background-color: var(--color-grey);

  flex: 1;

  h1 {
    padding: 0.5em 1em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: left;
    margin-left: -1em;

    li {
      margin-bottom: 1em;
      margin-left: 1em;
    }
  }
}