.proofitem {
  display: flex;
  gap: 1em;
  padding: 0.8em 1em;
  align-items: center;

  border-top: 1px solid var(--color-grey);

  &:last-child {
    border-bottom: 1px solid var(--color-grey);
  }

  b {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
  }
}