@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
  --color-black: rgb(36, 36, 36);
  --color-white: rgb(255, 255, 255);
  --color-grey: rgb(90, 80, 90);
  --color-grey-30: rgba(90, 80, 90, 0.5)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cutive Mono', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-black);
  background-color: var(--color-grey);

  font-size: 12px;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  line-height: 1.15em;
  font-weight: 900;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}